.breakdance .bde-section {
	position:relative;
	width:100%;
	background-position:center center;
	background-size:cover
}
.breakdance .bde-section .section-container {
	max-width:1760px;
	background-size:cover;
	position:relative;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	text-align:left;
	margin:0 auto;
	padding:64px 32px;
}
.breakdance .bde-section .section-shape-divider-wrapper {
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	bottom:0;
	right:0;
	pointer-events:none
}
.breakdance .bde-section .section-shape-divider-wrapper .section-shape-divider svg {
	position:absolute;
	color:#000;
	width:100%;
	height:320px;
	left:0;
	right:0;
	top:0
}
.breakdance .bde-image {
	max-width:100%
}
.breakdance-image {
	position:relative;
	display:flex;
	flex-direction:column;
	max-width:100%;
	margin:0;
	border:none
}
.breakdance-image-clip {
	overflow:hidden
}
.breakdance-image-object {
	display:block;
	max-width:100%;
	height:auto
}
.breakdance-image__caption {
	text-align:center;
	margin:0;
	padding:16px
}
.breakdance-image--caption-overlap .breakdance-image__caption {
	position:absolute;
	left:0;
	right:0;
	bottom:0
}
.breakdance-image-link {
	display:block
}
.breakdance-image__mask {
	-webkit-mask-position:center;
	mask-position:center;
	-webkit-mask-repeat:no-repeat;
	mask-repeat:no-repeat;
	-webkit-mask-size:auto;
	mask-size:auto
}
.breakdance-image__mask img {
	border-style:none;
	height:auto;
	max-width:100%
}
.breakdance .bde-heading {
	max-width:100%;
	margin:0
}
.breakdance .bde-advancedslider {
	position:relative;
	max-width:100%;
	width:100%;
	height:auto
}
.bde-advancedslider .advanced-slider__slide,.bde-advancedslider .breakdance-swiper-wrapper,.bde-advancedslider .swiper {
	height:100%
}
.breakdance .bde-advancedslide.swiper-slide {
	height:auto
}
.breakdance .bde-advancedslide .advanced-slider__slide {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:30px 30px 50px
}
.breakdance .bde-div {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	text-align:left;
	max-width:100%;
	position:relative;
	background-size:cover
}
.breakdance .bde-button {
	max-width:100%
}
.breakdance .bde-code-block {
	max-width:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	text-align:left
}
.breakdance .bde-globalblock {
	max-width:100%;
	width:100%
}
.bde-globalblock .breakdance {
	background-color:initial;
	color:initial
}
.breakdance .bde-columns {
	max-width:100%;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	gap:32px
}
.breakdance .bde-column {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	text-align:left;
	align-items:flex-start;
	width:calc(var(--column-width) - 32px * ((var(--columnCount) - 1) / var(--columnCount)));
	position:relative;
	background-size:cover
}
.breakdance .bde-grid {
	--bde-grid-gap:32px;
	display:grid;
	grid-template-columns:repeat(var(--bde-grid-items-per-row,4),minmax(0,1fr));
	gap:var(--bde-grid-gap);
	text-align:left;
	max-width:100%;
	width:100%;
	position:relative;
	background-size:cover;
	align-items:var(--bde-grid-align-items,stretch);
	justify-items:var(--bde-grid-justify-items,stretch)
}
.breakdance .bde-text {
	max-width:100%;
	margin:0;
	color:#000
}
