.breakdance .bde-section-1348-100 .section-container {
	display:flex;
	flex-direction:column;
	gap:40px
}
.breakdance .bde-section-1348-100 .section-container {
	padding-bottom:40px
}
.breakdance .bde-section-1348-102 .section-container {
	display:flex;
	flex-direction:column
}
.breakdance .bde-section-1348-102 .section-container {
	padding-left:0px;
	padding-right:0px;
	padding-bottom:96px;
	padding-top:0px
}
.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	--swiper-navigation-size:0px
}
.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	padding:0
}
@media (max-width:1119px) {
	.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:1023px) {
	.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:767px) {
	.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:479px) {
	.breakdance .bde-advancedslider-1348-103 .breakdance-swiper-wrapper {
	padding:0
}
}.breakdance .bde-advancedslide-1348-104 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1348-104 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1348-105 {
	width:100%;
	min-height:655px;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0
}
.breakdance .bde-container-link-1348-105 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1348-107 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1348-107 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1348-108 {
	color:#1554FF
}
.breakdance .bde-heading-1348-109 {
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-advancedslide-1348-111 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1348-111 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1348-112 {
	width:100%;
	min-height:655px;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0
}
.breakdance .bde-container-link-1348-112 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1348-114 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1348-114 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1348-115 {
	color:#fff
}
.breakdance .bde-heading-1348-116 {
	color:#fff;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1348-117 .bde-button__button {
	color:#fff
}
.breakdance .bde-advancedslide-1348-118 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1348-118 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1348-119 {
	width:100%;
	min-height:655px;
	border-top:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0
}
.breakdance .bde-container-link-1348-119 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1348-121 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1348-121 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1348-122 {
	color:#1554FF
}
.breakdance .bde-heading-1348-123 {
	margin-top:16px;
	margin-bottom:16px
}
