.breakdance .bde-section-1344-100 .section-container {
	display:flex;
	flex-direction:column;
	gap:40px
}
.breakdance .bde-heading-1344-101 {
	color:#FFF;
	margin-top:32px;
	margin-bottom:32px
}
.breakdance .bde-section-1344-102 .section-container {
	display:flex;
	flex-direction:column
}
.breakdance .bde-section-1344-102 .section-container {
	padding-left:0px;
	padding-right:0px;
	padding-bottom:96px;
	padding-top:0px
}
.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	--swiper-navigation-size:0px
}
.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	padding:0
}
@media (max-width:1119px) {
	.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:1023px) {
	.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:767px) {
	.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:479px) {
	.breakdance .bde-advancedslider-1344-103 .breakdance-swiper-wrapper {
	padding:0
}
}.breakdance .bde-advancedslide-1344-104 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1344-104 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1344-105 {
	width:100%;
	min-height:655px;
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;
	border-left:1px solid #616161;
	border-right:1px solid #616161
}
.breakdance .bde-container-link-1344-105 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1344-107 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1344-107 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1344-108 {
	color:#FFF
}
.breakdance .bde-heading-1344-109 {
	color:#FFF;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1344-110 .bde-button__button {
	color:#FFF
}
.breakdance .bde-advancedslide-1344-111 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1344-111 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1344-112 {
	width:100%;
	min-height:655px;
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;
	border-left:1px solid #616161;
	border-right:1px solid #616161
}
.breakdance .bde-container-link-1344-112 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1344-114 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1344-114 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1344-115 {
	color:#FFF
}
.breakdance .bde-heading-1344-116 {
	color:#FFF;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1344-117 .bde-button__button {
	color:#FFF
}
.breakdance .bde-advancedslide-1344-118 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1344-118 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1344-119 {
	width:100%;
	min-height:655px;
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;
	border-left:1px solid #616161;
	border-right:1px solid #616161
}
.breakdance .bde-container-link-1344-119 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1344-121 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1344-121 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1344-122 {
	color:#FFF
}
.breakdance .bde-heading-1344-123 {
	color:#FFF;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1344-124 .bde-button__button {
	color:#FFF
}
.breakdance .bde-advancedslide-1344-125 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1344-125 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1344-126 {
	width:100%;
	min-height:655px;
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;
	border-left:1px solid #616161;
	border-right:1px solid #616161
}
.breakdance .bde-container-link-1344-126 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1344-128 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1344-128 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1344-129 {
	color:#FFF
}
.breakdance .bde-heading-1344-130 {
	color:#FFF;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1344-131 .bde-button__button {
	color:#FFF
}
.breakdance .bde-advancedslide-1344-132 .advanced-slider__slide {
	padding:0px 0px 0px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-advancedslide-1344-132 .advanced-slider__slide {
	padding-left:24px
}
}.breakdance .bde-container-link-1344-133 {
	width:100%;
	min-height:655px;
	border-top:1px solid #616161;
	border-bottom:1px solid #616161;
	border-left:1px solid #616161;
	border-right:1px solid #616161
}
.breakdance .bde-container-link-1344-133 {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	text-align:left
}
.breakdance .bde-div-1344-135 {
	padding:35px 24px 35px 24px
}
.breakdance .bde-div-1344-135 {
	position:absolute;
	bottom:0px
}
.breakdance .bde-text-1344-136 {
	color:#FFF
}
.breakdance .bde-heading-1344-137 {
	color:#FFF;
	margin-top:16px;
	margin-bottom:16px
}
.breakdance .bde-button-1344-138 .bde-button__button {
	color:#FFF
}
.rsd-section-black {
  background: #000;
}