.breakdance .bde-grid-1339-101 {
	--bde-grid-items-per-row:4;
	--bde-grid-gap:0px
}
.breakdance .bde-grid>* {
	width:auto!important;
	height:auto!important
}
@media (max-width:1119px) {
	.breakdance .bde-grid-1339-101 {
	--bde-grid-items-per-row:3
}
}@media (max-width:1023px) {
	.breakdance .bde-grid-1339-101 {
	--bde-grid-items-per-row:2
}
}@media (max-width:767px) {
	.breakdance .bde-grid-1339-101 {
	--bde-grid-items-per-row:1
}
}.breakdance .bde-div-1339-102 {
	margin-right:16px;
	margin-left:16px;
	border-bottom:1px solid #EEE
}
.breakdance .bde-div-1339-102:hover {
	border-bottom:1px solid #1554FF
}
@media (max-width:1023px) {
	.breakdance .bde-div-1339-102 {
	margin-right:12px;
	margin-left:12px
}
}.breakdance .bde-text-1339-103 {
	color:#EEE;
	font-family:"Roboto WEB";
	font-size:112px;
	font-weight:300;
	line-height:6rem;
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-text-1339-103 {
	font-size:64px;
	line-height:4rem
}
}.breakdance .bde-heading-1339-104 {
	color:#1554FF;
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-104 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-heading-1339-105 {
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-105 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-div-1339-106 {
	margin-right:16px;
	margin-left:16px;
	border-bottom:1px solid #E0E0E0
}
.breakdance .bde-div-1339-106:hover {
	border-bottom:1px solid #1554FF
}
@media (max-width:767px) {
	.breakdance .bde-div-1339-106 {
	margin-top:40px
}
}.breakdance .bde-text-1339-107 {
	color:#EEE;
	font-family:"Roboto WEB";
	font-size:112px;
	font-weight:300;
	line-height:6rem;
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-text-1339-107 {
	font-size:64px;
	line-height:4rem
}
}.breakdance .bde-heading-1339-108 {
	color:#1554FF;
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-108 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-heading-1339-109 {
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-109 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-div-1339-110 {
	margin-right:16px;
	margin-left:16px;
	border-bottom:1px solid #E0E0E0
}
.breakdance .bde-div-1339-110:hover {
	border-bottom:1px solid #1554FF
}
@media (max-width:1023px) {
	.breakdance .bde-div-1339-110 {
	margin-top:40px
}
}.breakdance .bde-text-1339-111 {
	color:#EEE;
	font-family:"Roboto WEB";
	font-size:112px;
	font-weight:300;
	line-height:6rem;
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-text-1339-111 {
	font-size:64px;
	line-height:4rem
}
}.breakdance .bde-heading-1339-112 {
	color:#1554FF;
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-112 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-heading-1339-113 {
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-113 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-div-1339-114 {
	margin-right:16px;
	margin-left:16px;
	border-bottom:1px solid #E0E0E0
}
.breakdance .bde-div-1339-114:hover {
	border-bottom:1px solid #1554FF
}
@media (max-width:1023px) {
	.breakdance .bde-div-1339-114 {
	margin-top:40px
}
}.breakdance .bde-text-1339-115 {
	color:#EEE;
	font-family:"Roboto WEB";
	font-size:112px;
	font-weight:300;
	line-height:6rem;
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-text-1339-115 {
	font-size:64px;
	line-height:4rem
}
}.breakdance .bde-heading-1339-116 {
	color:#1554FF;
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-116 {
	font-size:24px;
	line-height:2rem
}
}.breakdance .bde-heading-1339-117 {
	font-size:32px;
	line-height:2.625rem;
	margin-bottom:24px
}
@media (max-width:1023px) {
	.breakdance .bde-heading-1339-117 {
	font-size:24px;
	line-height:2rem
}
}