.breakdance .bde-section-68-118 .section-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:20px;
	text-align:center
}
.breakdance .bde-section-68-118 .section-container {
	padding-left:0px;
	padding-right:0px
}
.breakdance .bde-image-68-689 {
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-image-68-689 .breakdance-image-object {
	height:26px;
	width:auto
}
}.breakdance .bde-heading-68-690 {
	font-weight:300;
	margin-top:-10px
}
.breakdance .bde-advancedslider-68-646 {
	margin-top:24px
}
.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	--swiper-navigation-size:0px
}
.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	padding:0
}
@media (max-width:1119px) {
	.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:1023px) {
	.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:767px) {
	.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	padding:0
}
}@media (max-width:479px) {
	.breakdance .bde-advancedslider-68-646 .breakdance-swiper-wrapper {
	padding:0
}
}.breakdance .bde-advancedslide-68-657 .advanced-slider__slide {
	padding:0px 0px 0px 0px
}
.breakdance .bde-advancedslide-68-657 .advanced-slider__slide {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-image-68-658 {
	max-width:675px
}
.breakdance .bde-advancedslide-68-659 .advanced-slider__slide {
	padding:0px 0px 0px 0px
}
.breakdance .bde-advancedslide-68-659 .advanced-slider__slide {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-image-68-660 {
	max-width:675px
}
.breakdance .bde-advancedslide-68-661 .advanced-slider__slide {
	padding:0px 0px 0px 0px
}
.breakdance .bde-advancedslide-68-661 .advanced-slider__slide {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-image-68-662 {
	max-width:675px
}
.breakdance .bde-advancedslide-68-685 .advanced-slider__slide {
	padding:0px 0px 0px 0px
}
.breakdance .bde-advancedslide-68-685 .advanced-slider__slide {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-image-68-686 {
	max-width:675px
}
.breakdance .bde-div-68-634 {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:center
}
.breakdance .bde-button-68-635 {
	padding:10px 20px 10px 20px
}
.breakdance .bde-button-68-687 {
	padding:10px 20px 10px 20px
}
.breakdance .bde-button-68-637 {
	padding:10px 20px 10px 20px
}
.breakdance .bde-button-68-638 {
	padding:10px 20px 10px 20px
}
.breakdance .bde-section-68-532 .section-container {
	padding-bottom:96px
}
.breakdance .bde-columns-68-533 {
	--columnCount:2;
	--bde-column-gap:0px
}
@media (max-width:1119px) {
	.breakdance .bde-columns-68-533 {
	--columnCount:2
}
}@media (max-width:1023px) {
	.breakdance .bde-columns-68-533 {
	--columnCount:2
}
}@media (max-width:767px) {
	.breakdance .bde-columns-68-533 {
	--columnCount:2
}
.breakdance .bde-columns-68-533.bde-columns {
	flex-direction:column;
	flex-wrap:nowrap
}
.breakdance .bde-columns-68-533.bde-columns>.bde-column {
	width:100%
}
.breakdance .bde-columns-68-533>div:nth-child(1) {
	order:10
}
.breakdance .bde-columns-68-533>div:nth-child(2) {
	order:9
}
.breakdance .bde-columns-68-533>div:nth-child(3) {
	order:8
}
.breakdance .bde-columns-68-533>div:nth-child(4) {
	order:7
}
.breakdance .bde-columns-68-533>div:nth-child(5) {
	order:6
}
.breakdance .bde-columns-68-533>div:nth-child(6) {
	order:5
}
.breakdance .bde-columns-68-533>div:nth-child(7) {
	order:4
}
.breakdance .bde-columns-68-533>div:nth-child(8) {
	order:3
}
.breakdance .bde-columns-68-533>div:nth-child(9) {
	order:2
}
.breakdance .bde-columns-68-533>div:nth-child(10) {
	order:1
}
}@media (max-width:479px) {
	.breakdance .bde-columns-68-533 {
	--columnCount:2
}
}.breakdance .bde-column-68-534 {
	--column-width:50%
}
.breakdance .bde-column-68-534 {
	background-color:#f5f5f5
}
.breakdance .bde-column-68-534.bde-column {
	padding:32px 32px 32px 32px
}
@media (max-width:1023px) {
	.breakdance .bde-column-68-534.bde-column {
	padding:24px 24px 24px 24px
}
}.breakdance .bde-heading-68-535 {
	font-weight:300
}
.breakdance .bde-button-68-536 {
	margin-top:32px
}
.breakdance .bde-button-68-536 .bde-button__button::after {
	content:"";
	display:block;
	background-color:currentColor;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%2022H5v-2h14zm-7-4-6-6%201.41-1.41L11%2014.17V2h2v12.17l3.59-3.58L18%2012z%22%2F%3E%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%2022H5v-2h14zm-7-4-6-6%201.41-1.41L11%2014.17V2h2v12.17l3.59-3.58L18%2012z%22%2F%3E%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-536 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-536 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-536 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-column-68-537 {
	--column-width:50%
}
.breakdance .bde-section-68-539 .section-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-div-68-581 {
	width:1760px
}
.breakdance .bde-div-68-581 {
	display:flex;
	flex-direction:column;
	align-items:center;
	text-align:center
}
.breakdance .bde-image-68-540 {
	margin-bottom:10px
}
@media (max-width:1023px) {
	.breakdance .bde-image-68-540 .breakdance-image-object {
	height:55px;
	width:auto
}
}.breakdance .bde-heading-68-541 {
	margin-bottom:48px
}
.breakdance .bde-grid-68-543 {
	--bde-grid-items-per-row:2;
	--bde-grid-gap:32px;
	margin-top:16px
}
.breakdance .bde-grid>* {
	width:auto!important;
	height:auto!important
}
@media (max-width:1119px) {
	.breakdance .bde-grid-68-543 {
	--bde-grid-items-per-row:2
}
}@media (max-width:1023px) {
	.breakdance .bde-grid-68-543 {
	--bde-grid-items-per-row:1
}
}@media (max-width:767px) {
	.breakdance .bde-grid-68-543 {
	--bde-grid-items-per-row:1
}
}.breakdance .bde-div-68-544 {
	padding-bottom:32px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	margin-top:4px;
	margin-bottom:4px;
	align-items:center;
	text-align:center;
	justify-content:center
}
@media (max-width:479px) {
	.breakdance .bde-div-68-544 {
	padding-bottom:16px
}
}.breakdance .bde-image-68-545 {
	width:auto
}
.breakdance .bde-image-68-545 .breakdance-image-object {
	width:100%;
	object-fit:contain;
	height:340px
}
@media (max-width:1119px) {
	.breakdance .bde-image-68-545 {
	width:auto
}
.breakdance .bde-image-68-545 .breakdance-image-object {
	width:100%;
	height:340px
}
}@media (max-width:479px) {
	.breakdance .bde-image-68-545 {
	width:auto
}
.breakdance .bde-image-68-545 .breakdance-image-object {
	width:100%;
	height:240px
}
}.breakdance .bde-columns-68-546 {
	--columnCount:2;
	margin-top:32px;
	--bde-column-gap:0px
}
.breakdance .bde-columns-68-546 {
	padding-right:32px;
	padding-left:32px
}
@media (max-width:1119px) {
	.breakdance .bde-columns-68-546 {
	--columnCount:2
}
}@media (max-width:1023px) {
	.breakdance .bde-columns-68-546 {
	--columnCount:2
}
}@media (max-width:767px) {
	.breakdance .bde-columns-68-546 {
	--columnCount:2
}
}@media (max-width:479px) {
	.breakdance .bde-columns-68-546 {
	--columnCount:2
}
.breakdance .bde-columns-68-546.bde-columns {
	flex-direction:column;
	flex-wrap:nowrap
}
.breakdance .bde-columns-68-546.bde-columns>.bde-column {
	width:100%
}
.breakdance .bde-columns-68-546 {
	padding-right:16px;
	padding-left:16px
}
}.breakdance .bde-column-68-547 {
	--column-width:64.5%
}
.breakdance .bde-column-68-547 {
	display:flex;
	flex-direction:column
}
.breakdance .bde-heading-68-548 {
	color:#000;
	font-size:32px;
	line-height:2.6rem
}
.breakdance .bde-text-68-579 {
	color:#1554FF
}
.breakdance .bde-column-68-549 {
	--column-width:35.5%;
	gap:10px;
	align-items:flex-end;
	text-align:right;
	justify-content:flex-end
}
.breakdance .bde-column-68-549.bde-column {
	padding-left:10px
}
.breakdance .bde-button-68-550 {
	margin-top:24px
}
.breakdance .bde-button-68-550 {
	width:100%
}
.breakdance .bde-button-68-550 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-550 .bde-button__button::after {
	content:"";
	display:block;
	background-color:#000;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-550 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-550 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-550 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-button-68-550 .bde-button__button:hover::after {
	background-color:#000
}
.breakdance .bde-button-68-580 {
	width:100%
}
.breakdance .bde-button-68-580 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-580 .bde-button__button::after {
	content:"";
	display:block;
	background-color:currentColor;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-580 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-580 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-580 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-div-68-582 {
	padding-bottom:32px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	margin-top:4px;
	margin-bottom:4px;
	align-items:center;
	text-align:center;
	justify-content:center
}
@media (max-width:479px) {
	.breakdance .bde-div-68-582 {
	padding-bottom:16px
}
}.breakdance .bde-image-68-583 {
	width:auto
}
.breakdance .bde-image-68-583 .breakdance-image-object {
	width:100%;
	object-fit:contain;
	height:340px
}
@media (max-width:1119px) {
	.breakdance .bde-image-68-583 {
	width:auto
}
.breakdance .bde-image-68-583 .breakdance-image-object {
	width:100%;
	height:340px
}
}@media (max-width:479px) {
	.breakdance .bde-image-68-583 {
	width:auto
}
.breakdance .bde-image-68-583 .breakdance-image-object {
	width:100%;
	height:240px
}
}.breakdance .bde-columns-68-584 {
	--columnCount:2;
	margin-top:32px;
	--bde-column-gap:0px
}
.breakdance .bde-columns-68-584 {
	padding-right:32px;
	padding-left:32px
}
@media (max-width:1119px) {
	.breakdance .bde-columns-68-584 {
	--columnCount:2
}
}@media (max-width:1023px) {
	.breakdance .bde-columns-68-584 {
	--columnCount:2
}
}@media (max-width:767px) {
	.breakdance .bde-columns-68-584 {
	--columnCount:2
}
}@media (max-width:479px) {
	.breakdance .bde-columns-68-584 {
	--columnCount:2
}
.breakdance .bde-columns-68-584.bde-columns {
	flex-direction:column;
	flex-wrap:nowrap
}
.breakdance .bde-columns-68-584.bde-columns>.bde-column {
	width:100%
}
.breakdance .bde-columns-68-584 {
	padding-right:16px;
	padding-left:16px
}
}.breakdance .bde-column-68-585 {
	--column-width:64.5%
}
.breakdance .bde-column-68-585 {
	display:flex;
	flex-direction:column
}
.breakdance .bde-heading-68-586 {
	color:#000;
	font-size:32px;
	line-height:2.6rem
}
.breakdance .bde-text-68-587 {
	color:#1554FF
}
.breakdance .bde-column-68-588 {
	--column-width:35.5%;
	gap:10px;
	align-items:flex-end;
	text-align:right;
	justify-content:flex-end
}
.breakdance .bde-column-68-588.bde-column {
	padding-left:10px
}
.breakdance .bde-button-68-589 {
	margin-top:24px
}
.breakdance .bde-button-68-589 {
	width:100%
}
.breakdance .bde-button-68-589 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-589 .bde-button__button::after {
	content:"";
	display:block;
	background-color:#000;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-589 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-589 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-589 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-button-68-589 .bde-button__button:hover::after {
	background-color:#000
}
.breakdance .bde-button-68-590 {
	width:100%
}
.breakdance .bde-button-68-590 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-590 .bde-button__button::after {
	content:"";
	display:block;
	background-color:currentColor;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-590 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-590 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-590 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-div-68-591 {
	padding-bottom:32px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	margin-top:4px;
	margin-bottom:4px;
	align-items:center;
	text-align:center;
	justify-content:center
}
@media (max-width:479px) {
	.breakdance .bde-div-68-591 {
	padding-bottom:16px
}
}.breakdance .bde-image-68-592 {
	width:auto
}
.breakdance .bde-image-68-592 .breakdance-image-object {
	width:100%;
	object-fit:contain;
	height:340px
}
@media (max-width:1119px) {
	.breakdance .bde-image-68-592 {
	width:auto
}
.breakdance .bde-image-68-592 .breakdance-image-object {
	width:100%;
	height:340px
}
}@media (max-width:479px) {
	.breakdance .bde-image-68-592 {
	width:auto
}
.breakdance .bde-image-68-592 .breakdance-image-object {
	width:100%;
	height:240px
}
}.breakdance .bde-columns-68-593 {
	--columnCount:2;
	margin-top:32px;
	--bde-column-gap:0px
}
.breakdance .bde-columns-68-593 {
	padding-right:32px;
	padding-left:32px
}
@media (max-width:1119px) {
	.breakdance .bde-columns-68-593 {
	--columnCount:2
}
}@media (max-width:1023px) {
	.breakdance .bde-columns-68-593 {
	--columnCount:2
}
}@media (max-width:767px) {
	.breakdance .bde-columns-68-593 {
	--columnCount:2
}
}@media (max-width:479px) {
	.breakdance .bde-columns-68-593 {
	--columnCount:2
}
.breakdance .bde-columns-68-593.bde-columns {
	flex-direction:column;
	flex-wrap:nowrap
}
.breakdance .bde-columns-68-593.bde-columns>.bde-column {
	width:100%
}
.breakdance .bde-columns-68-593 {
	padding-right:16px;
	padding-left:16px
}
}.breakdance .bde-column-68-594 {
	--column-width:64.5%
}
.breakdance .bde-column-68-594 {
	display:flex;
	flex-direction:column
}
.breakdance .bde-heading-68-595 {
	color:#000;
	font-size:32px;
	line-height:2.6rem
}
.breakdance .bde-text-68-596 {
	color:#1554FF
}
.breakdance .bde-column-68-597 {
	--column-width:35.5%;
	gap:10px;
	align-items:flex-end;
	text-align:right;
	justify-content:flex-end
}
.breakdance .bde-column-68-597.bde-column {
	padding-left:10px
}
.breakdance .bde-button-68-598 {
	margin-top:24px
}
.breakdance .bde-button-68-598 {
	width:100%
}
.breakdance .bde-button-68-598 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-598 .bde-button__button::after {
	content:"";
	display:block;
	background-color:#000;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-598 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-598 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-598 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-button-68-598 .bde-button__button:hover::after {
	background-color:#000
}
.breakdance .bde-button-68-599 {
	width:100%
}
.breakdance .bde-button-68-599 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-599 .bde-button__button::after {
	content:"";
	display:block;
	background-color:currentColor;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-599 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-599 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-599 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-div-68-609 {
	padding-bottom:32px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	margin-top:4px;
	margin-bottom:4px;
	align-items:center;
	text-align:center;
	justify-content:center
}
@media (max-width:479px) {
	.breakdance .bde-div-68-609 {
	padding-bottom:16px
}
}.breakdance .bde-image-68-610 {
	width:auto
}
.breakdance .bde-image-68-610 .breakdance-image-object {
	width:100%;
	object-fit:contain;
	height:340px
}
@media (max-width:1119px) {
	.breakdance .bde-image-68-610 {
	width:auto
}
.breakdance .bde-image-68-610 .breakdance-image-object {
	width:100%;
	height:340px
}
}@media (max-width:479px) {
	.breakdance .bde-image-68-610 {
	width:auto
}
.breakdance .bde-image-68-610 .breakdance-image-object {
	width:100%;
	height:240px
}
}.breakdance .bde-columns-68-611 {
	--columnCount:2;
	margin-top:32px;
	--bde-column-gap:0px
}
.breakdance .bde-columns-68-611 {
	padding-right:32px;
	padding-left:32px
}
@media (max-width:1119px) {
	.breakdance .bde-columns-68-611 {
	--columnCount:2
}
}@media (max-width:1023px) {
	.breakdance .bde-columns-68-611 {
	--columnCount:2
}
}@media (max-width:767px) {
	.breakdance .bde-columns-68-611 {
	--columnCount:2
}
}@media (max-width:479px) {
	.breakdance .bde-columns-68-611 {
	--columnCount:2
}
.breakdance .bde-columns-68-611.bde-columns {
	flex-direction:column;
	flex-wrap:nowrap
}
.breakdance .bde-columns-68-611.bde-columns>.bde-column {
	width:100%
}
.breakdance .bde-columns-68-611 {
	padding-right:16px;
	padding-left:16px
}
}.breakdance .bde-column-68-612 {
	--column-width:64.5%
}
.breakdance .bde-column-68-612 {
	display:flex;
	flex-direction:column
}
.breakdance .bde-heading-68-613 {
	color:#000;
	font-size:32px;
	line-height:2.6rem
}
.breakdance .bde-text-68-614 {
	color:#1554FF
}
.breakdance .bde-column-68-615 {
	--column-width:35.5%;
	gap:10px;
	align-items:flex-end;
	text-align:right;
	justify-content:flex-end
}
.breakdance .bde-column-68-615.bde-column {
	padding-left:10px
}
.breakdance .bde-button-68-616 {
	margin-top:24px
}
.breakdance .bde-button-68-616 {
	width:100%
}
.breakdance .bde-button-68-616 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-616 .bde-button__button::after {
	content:"";
	display:block;
	background-color:#000;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-616 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-616 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-616 .bde-button__button::after {
	margin-left:10px
}
.breakdance .bde-button-68-616 .bde-button__button:hover::after {
	background-color:#000
}
.breakdance .bde-button-68-617 {
	width:100%
}
.breakdance .bde-button-68-617 .bde-button__button {
	--bde-button-width:100%;
	display:flex
}
.breakdance .bde-button-68-617 .bde-button__button::after {
	content:"";
	display:block;
	background-color:currentColor;
	width:24px;
	height:24px;
	margin-right:0px;
	margin-left:10px;
	mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	mask-position:0 0;
	mask-size:100% 100%;
	mask-repeat:no-repeat;
	-webkit-mask-image:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0D%0A%20%20%3Cpath%20d%3D%22M18.17%2013L15.59%2015.59L17%2017L22%2012L17%207L15.59%208.41L18.17%2011H2V13H18.17Z%22%2F%3E%0D%0A%3C%2Fsvg%3E);
	-webkit-mask-position:0 0;
	-webkit-mask-size:100% 100%;
	transition-timing-function:ease-in-out;
	transition-property:transform,background-color;
	transition-duration:300ms
}
.breakdance .bde-button-68-617 .bde-button__button::after {
	width:24px;
	height:24px
}
.breakdance .bde-button-68-617 .bde-button__button::after {
	margin-right:0px
}
.breakdance .bde-button-68-617 .bde-button__button::after {
	margin-left:10px
}

.rsd-black-buttons a.breakdance-link.button-atom.button-atom--custom.bde-button__button{
	padding: 5px;
	background: #000;
	border-radius: 0px;
	border: none;
	/* font-weight: 400; */
}