@import "./var.less";
@import "./font.less";
@import './main.less';
@import './main1.less';

.sense-icon {
  width: 1.1em;
  height: 1.1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  display: inline-block;
}
