@import "./var.less";
@import './main.less';
@import './main1.less';
@import './addStyle/global-settings.css';
@import './addStyle/post-11-defaults.css';
@import './addStyle/post-11.css';
@import './addStyle/post-68-defaults.css';
@import './addStyle/post-68.css';
@import './addStyle/post-1339.css';
@import './addStyle/post-1343.css';
@import './addStyle/post-1344.css';
@import './addStyle/post-1348.css';
@import './addStyle/post-1351.css';
@import './addStyle/post-1354.css';

#app .el-carousel {
    --el-carousel-arrow-font-size: 18px;
    --el-carousel-arrow-size: 40px;
  --el-carousel-arrow-background: rgba(9, 15, 21, 0.46);
  --el-carousel-arrow-hover-background: rgba(31, 45, 61, 0.73);
    // --el-carousel-indicator-width: 30px;
    // --el-carousel-indicator-height: 2px;
    // --el-carousel-indicator-padding-horizontal: 4px;
    // --el-carousel-indicator-padding-vertical: 12px;
    // --el-carousel-indicator-out-color: var(--el-border-color-hover);
    // position: relative;
    .el-carousel__indicators {
      // display: none;
    }
}
// @import './addStyle/post-425-defaults.css';
// @import './addStyle/post-425.css';
// @import './addStyle/post-489-defaults.css';
// @import './addStyle/post-489.css';
// @import './addStyle/post-1363-defaults.css';
// @import './addStyle/post-1363.css';
// @import './addStyle/post-3340-defaults.css';
// @import './addStyle/post-3340.css';
// @import './addStyle/presets.css';
