.style_float_button__lGDOY {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    border: .8px solid hsla(0,0%,100%,.12);
    background: linear-gradient(180deg,rgba(47,49,51,.7),rgba(21,25,31,.7));
    -webkit-backdrop-filter: blur(calc(8px/2));
    backdrop-filter: blur(calc(8px/2));
    height: 48px;
    width: 48px
}

.style_box-shadow__CmyJ_ {
    box-shadow: 0 18px 36px 0 rgba(0,0,0,.05),0 14px 30px 0 rgba(0,0,0,.05)
}

.style_message-show__ExHDS>div {
    transform: translateY(0) translateX(-50%);
    opacity: 1
}

.style_message-hide__1QoLY>div {
    transform: translateY(0) translateX(-50%);
    opacity: 0
}

.style_box-shadow__Dv0Aa {
    box-shadow: 0 18px 36px 0 rgba(0,0,0,.05),0 14px 30px 0 rgba(0,0,0,.05)
}

.style_message-show__k6pnh>div {
    transform: translateY(0) translateX(-50%);
    opacity: 1
}

.style_message-hide__h4kzX>div {
    transform: translateY(0) translateX(-50%);
    opacity: 0
}

.Button_button___rN3t:active:after,.Button_button___rN3t:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.Button_button___rN3t:hover:after {
    background-color: hsla(0,0%,100%,.06)
}

.Button_button___rN3t:active:after {
    background-color: rgba(0,0,0,.06)
}

.Button_buttonDisabled__82adP {
    color: hsla(0,0%,100%,.3);
    background-color: hsla(0,0%,100%,.16)
}

.Button_buttonPrimary__PrWAc {
    background-color: hsla(0,0%,100%,.16);
    color: hsla(0,0%,100%,.9)
}

[data-theme=blue] .Button_buttonPrimary__PrWAc.Button_buttonAutoTheme__lnk5v {
    background-color: #277af7
}

[data-theme=yellow-su7-ultra] .Button_buttonPrimary__PrWAc.Button_buttonAutoTheme__lnk5v {
    background-color: #ffce00;
    color: #12151a
}

[data-theme=yellow-su7-ultra] .Button_buttonPrimary__PrWAc.Button_buttonAutoTheme__lnk5v:not([data-theme=yellow-su7-ultra] .Button_buttonPrimary__PrWAc.Button_buttonAutoTheme__lnk5v.Button_buttonDisabled__82adP) svg path {
    stroke: #12151a
}

[data-theme=green-yu7] .Button_buttonPrimary__PrWAc.Button_buttonAutoTheme__lnk5v {
    background-color: #00975d
}

.Button_buttonPrimary__PrWAc.Button_buttonDisabled__82adP {
    color: hsla(0,0%,100%,.3)!important;
    background-color: hsla(0,0%,100%,.16)!important
}

.from-app .fromApp_download__9VqC4,.from-app .fromApp_footerSiteMap__fHnlI,.from-app .fromApp_nav__jFIxS {
    display: none
}

